@using _728Meeting.Models
@model Participant
@{
    ViewBag.Title = "728会议支持系统";
}

<div class="row">
    <div class="col-md-8">
        <section id="meeting-content">
            <h4>您好，@Model.User.Name， 请参阅会议信息</h4>
            <hr/>
            @foreach (var pe in Model.ParticipantEvent.OrderBy(p => p.Meeting.MeetingStartTime))
            {
                var meeting = pe.Meeting;
                @Html.Raw(meeting.Content)
                <p>&nbsp;</p>
            }
            @Html.Raw(Model.MeetingInfo)
        </section>
        <div style="height:90px;"></div>
    </div>
</div>