<div class="row">
    <div class="col-md-8">
        <section id="meeting-content">
            <h4>
                D座1楼  院科技成果展厅<br />
                D座10楼 院重大专项成果展厅<br />
                C座B1楼 主控室<br />
                联络人：张帆 18601728077
            </h4>
            <span style="color:grey">
                我们将竭诚为您服务！<br />
                会务组：包立  18601728393
            </span>
        </section>
        <div style="height:90px;"></div>
    </div>
</div>
